<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700|Roboto+Slab:700" rel="stylesheet">
        link(rel="stylesheet", href="./static/css/index.css")
        title Marble
    body
        header
            .logo
                span marble
            .menu
                a(href="#") home
                a(href="#") about
                a(href="#") journal
                a(href="#service") service
                a(href="#features") features
                a(href="#") contact
        main
            section#slider
                h1 We are a digital &#38; branding agency based in London.
                h2 We love to turn great ideas into beautiful products.
                a(href="#") see portfolio
            section#service
                .service
                    div
                        div
                            img(src="/static/img/Layer3.png", alt="")
                        h3 pellentesque
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat a ligula vitae rhoncus. Pellentesque.
                    div
                        div
                            img(src="/static/img/Layer2.png", alt="")
                        h3 consectetur
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat a ligula vitae rhoncus. Pellentesque.
                    div
                        div
                            img(src="/static/img/Layer5.png", alt="")
                        h3 tristiquet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat a ligula vitae rhoncus. Pellentesque.
                    div
                        div
                            img(src="/static/img/Layer4.png", alt="")
                        h3 fermentum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat a ligula vitae rhoncus. Pellentesque.
                .latestWorks
                    h2 our latest works
                    .posts
                        div
                            img(src="/static/img/Layer7.png", alt="")
                            h3 nobis business card
                            h4 business card, graphic
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo purus laoreet ligula.
                        div
                            img(src="/static/img/Layer8.png", alt="")
                            h3 new fun project
                            h4 web design, application
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo purus laoreet ligula.
                        div
                            img(src="/static/img/Layer6.png", alt="")
                            h3 passionaries branding cover
                            h4 branding, graphic design
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo purus laoreet ligula.
            section#features
                span „
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus enim in egestas pharetra. Quisque tempus eleifend lacus in ultrices.
